*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #212529;
  min-width: 320px;
  background-color: #F2F7FD; }

body.fixed {
  overflow: hidden; }

a, button {
  cursor: pointer; }

picture {
  display: block;
  width: 100%;
  height: 100%; }

table {
  border-collapse: collapse;
  border-radius: 3px;
  overflow: hidden; }

.modal-header {
  border-bottom: 0;
  padding: 30px 40px;
  position: relative; }
  .modal-header .btn-close {
    position: absolute;
    right: 13px;
    top: 13px;
    opacity: 0.8; }

.modal-body {
  padding: 0 40px 40px; }

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 600px; } }

@media (min-width: 1700px) {
  .container {
    max-width: 1536px; } }

@media (max-width: 1399px) {
  body {
    font-size: 14px; } }

.form-control {
  height: 42px;
  border: 1px solid #bfc3c7; }
  .form-control:focus {
    box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.25); }

.form-select {
  height: 42px;
  border: 1px solid #bfc3c7; }

.mb-3 {
  margin-bottom: 20px !important; }

.cabinet-head .btn-success .plus-icon {
  font-size: 22px;
  margin-right: 8px; }

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center; }

.btn-success {
  background-color: #279d27;
  border-color: #279d27;
  display: flex;
  align-items: center;
  justify-content: center; }

.btn-remove {
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/trash-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px; }

.btn-edit {
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/pencil-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px; }

.form-group label {
  font-size: 14px;
  color: #606469; }

textarea.form-control {
  min-height: 120px; }

.file-form-group {
  position: relative;
  height: 42px;
  border: 1px dashed #4982b5;
  border-radius: 0.25rem;
  margin-top: 20px; }
  .file-form-group .span-label {
    font-size: 14px;
    color: #606469;
    position: absolute;
    left: 0;
    top: -23px; }
  .file-form-group .inputfile {
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0; }
  .file-form-group label {
    width: 100%;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    height: 100%;
    color: #4982b5;
    cursor: pointer; }
  .file-form-group .tooltip-box {
    top: 12px; }

.btn-holder {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .btn-holder .btn {
    height: 42px;
    width: calc(50% - 10px); }

.main-header {
  background-color: #fff;
  border-bottom: 1px solid #AED3F4;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px; }
  .main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.main-logo {
  display: flex;
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  color: #5a8ebd; }

.index-page .main-header,
.login-page .main-header {
  margin-bottom: 0; }

@media (max-width: 991px) {
  .main-logo {
    font-size: 20px; } }

@media (max-width: 767px) {
  .main-header {
    padding: 5px 0 10px; }
    .main-header .container {
      flex-wrap: wrap; }
  .main-logo {
    font-size: 18px;
    text-align: center;
    margin-top: 5px; } }

@media (max-width: 575px) {
  .main-header .logout-link {
    margin-right: 10px; } }

#page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none; }

#wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.page-content {
  flex: 1; }

.index-page {
  background-color: #F2F7FD; }
  .index-page .page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 80px;
    padding-top: 80px;
    height: 100%; }
    .index-page .page-content .col-lg-6 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
    .index-page .page-content h1, .index-page .page-content .h1 {
      font-size: 46px;
      font-weight: 700;
      margin: 0 0 15px; }
    .index-page .page-content p {
      font-size: 20px;
      font-weight: 300;
      max-width: 550px;
      margin: 0 0 30px; }
    .index-page .page-content img {
      display: block;
      max-width: 100%;
      border-radius: 20px; }
    .index-page .page-content .btn-lg {
      padding-left: 25px;
      padding-right: 25px; }
    .index-page .page-content .btn-primary {
      margin-right: 20px; }

@media (max-width: 1699px) {
  .index-page .page-content h1, .index-page .page-content .h1 {
    font-size: 38px; }
  .index-page .page-content p {
    font-size: 18px; }
  .index-page .page-content .btn-lg {
    font-size: 18px; } }

@media (max-width: 1399px) {
  .index-page .page-content h1, .index-page .page-content .h1 {
    font-size: 32px; }
  .index-page .page-content p {
    font-size: 16px; }
  .index-page .page-content .btn-lg {
    font-size: 16px; } }

@media (max-width: 991px) {
  .index-page .page-content .col-lg-6 {
    margin-bottom: 30px;
    display: block; }
  .index-page .page-content h1, .index-page .page-content .h1 {
    text-align: center; }
  .index-page .page-content p {
    font-size: 16px;
    max-width: 100%; }
  .index-page .page-content .btn-box {
    text-align: center; } }

@media (max-width: 767px) {
  .index-page .page-content {
    padding: 50px 0; }
    .index-page .page-content h1, .index-page .page-content .h1 {
      font-size: 28px; }
    .index-page .page-content p {
      font-size: 16px;
      max-width: 100%; } }

@media (max-width: 575px) {
  .index-page .page-content {
    padding: 30px 0; }
    .index-page .page-content h1, .index-page .page-content .h1 {
      font-size: 24px; }
    .index-page .page-content p {
      font-size: 14px; } }

.login-page .logout-link,
.login-page .admin-nav {
  display: none; }

.login-page .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 80px;
  padding-top: 80px;
  height: 100%; }

.login-page h1, .login-page .h1 {
  text-align: center;
  margin: 0 0 20px;
  font-size: 32px; }

.login-page .card {
  border: 1px solid #AED3F4;
  padding: 50px 50px 50px;
  max-width: 550px;
  margin: 0 auto 20px; }
  .login-page .card .btn-primary {
    width: 100%;
    height: 42px;
    margin-top: 10px; }

.login-page .form-footer {
  font-size: 18px;
  text-align: center; }
  .login-page .form-footer a {
    text-decoration: none; }
    .login-page .form-footer a:hover {
      text-decoration: underline; }

.login-page .image-form-group {
  margin-top: 42px; }

.login-page .form-check {
  padding-left: 30px;
  margin-bottom: 20px; }

.login-page .form-check-input {
  width: 24px;
  height: 24px;
  margin-left: -30px; }

.login-page .form-check-label {
  font-size: 14px; }

@media (max-width: 1699px) {
  .login-page h1, .login-page .h1 {
    font-size: 28px; } }

@media (max-width: 991px) {
  .login-page .page-content {
    padding-top: 50px;
    padding-bottom: 50px; } }

@media (max-width: 767px) {
  .login-page .page-content {
    padding-top: 50px;
    padding-bottom: 50px; }
  .login-page h1, .login-page .h1 {
    font-size: 24px;
    font-weight: 600; } }

@media (max-width: 575px) {
  .login-page .card {
    padding: 30px; }
  .login-page .form-footer {
    font-size: 16px; } }

@media (max-width: 479px) {
  .login-page .card {
    padding: 20px 15px 25px; } }

.default-page .page-content {
  padding-top: 60px;
  padding-bottom: 60px; }

.default-page .h1, .default-page h1 {
  text-align: center;
  margin: 0 0 40px;
  font-size: 36px; }

.default-page .qa-box {
  max-width: 760px;
  margin: 0 auto; }
  .default-page .qa-box .h3, .default-page .qa-box h3 {
    font-size: 22px;
    margin: 0 0 5px; }
  .default-page .qa-box p {
    margin: 0 0 15px; }

.default-page .qa-item {
  margin-bottom: 40px; }

.about-container {
  padding-top: 20px; }
  .about-container img {
    display: block;
    max-width: 640px;
    margin: 0 0 80px; }
  .about-container p {
    max-width: 640px;
    margin: 0 0 30px; }
  .about-container .col-lg-6 {
    display: flex;
    flex-direction: column; }

.partners-table,
.programs-table {
  width: 800px;
  margin: 0 auto 100px; }
  .partners-table table,
  .programs-table table {
    width: 100%;
    font-size: 24px;
    margin: 0 0 50px; }
    .partners-table table td,
    .programs-table table td {
      padding: 3px 0; }
      .partners-table table td + td,
      .programs-table table td + td {
        width: 300px; }
  .partners-table a,
  .programs-table a {
    position: relative;
    color: #2D8CFF;
    font-size: 20px;
    padding-left: 55px; }
    .partners-table a:before,
    .programs-table a:before {
      content: '';
      width: 43px;
      height: 43px;
      position: absolute;
      left: 0;
      top: calc(50% - 22px);
      background: url(../img/icons/pdf-icon.svg) no-repeat center; }
    .partners-table a:hover,
    .programs-table a:hover {
      text-decoration: none; }

.partners-row {
  display: flex;
  justify-content: center;
  align-items: center; }
  .partners-row img {
    display: block;
    margin: 0 30px;
    max-width: 300px; }

.user-holder {
  border: 1px solid #A1BAD6;
  border-radius: 1px;
  padding: 10px;
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column; }
  .user-holder .user-img {
    width: 85px;
    height: 85px;
    margin: 0 auto 5px;
    border-radius: 50%;
    overflow: hidden; }
    .user-holder .user-img img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .user-holder .user-name {
    font-weight: 500;
    font-size: 18px;
    margin: 0 0 5px; }
  .user-holder .user-school {
    color: #575757;
    margin: 0 0 5px; }
  .user-holder .user-mail {
    color: #2D8CFF;
    text-decoration: none; }
  .user-holder .user-footer-message {
    margin: auto -10px -10px;
    border-top: 1px solid #A1BAD6;
    border-radius: 1px; }
    .user-holder .user-footer-message a {
      display: block;
      width: 100%;
      padding: 10px;
      text-decoration: none;
      color: #2D8CFF; }
      .user-holder .user-footer-message a:hover {
        background-color: #F2F7FD; }
      .user-holder .user-footer-message a span {
        position: relative;
        padding-left: 32px; }
        .user-holder .user-footer-message a span:before {
          content: '';
          width: 30px;
          height: 30px;
          position: absolute;
          background: url(../img/icons/blue-message-icon.svg) no-repeat center;
          background-size: 22px;
          left: 0;
          top: -4px; }

.moderators-container .user-holder {
  height: 100%; }

.moderators-container .col-sm-6.col-lg-4 {
  margin-bottom: 30px; }

@media (max-width: 1699px) {
  .about-container .col-md-6:first-child {
    padding-right: 50px; }
  .about-container .col-md-6:last-child {
    padding-left: 50px; }
  .partners-row img {
    max-width: 200px; }
  .user-holder .user-name {
    font-size: 16px; }
  .user-holder .user-school,
  .user-holder .user-mail {
    font-size: 14px; }
  .user-holder .user-footer-message a {
    font-size: 14px; } }

@media (max-width: 1199px) {
  .default-page .page-content {
    padding-top: 40px; }
  .default-page .h1, .default-page h1 {
    font-size: 32px;
    margin-bottom: 30px; }
  .about-container .col-lg-6:first-child {
    padding-right: 30px; }
  .about-container .col-lg-6:last-child {
    padding-left: 30px; }
  .partners-row img {
    max-width: 20%; }
  .partners-table table,
  .programs-table table {
    font-size: 20px; }
    .partners-table table td,
    .programs-table table td {
      padding: 8px 0; }
  .partners-table a,
  .programs-table a {
    font-size: 18px; } }

@media (max-width: 991px) {
  .default-page .page-content {
    padding-top: 30px; }
  .default-page .h1, .default-page h1 {
    font-size: 28px;
    margin-bottom: 25px; }
  .default-page .qa-box {
    max-width: 100%; }
    .default-page .qa-box .h3, .default-page .qa-box h3 {
      font-size: 18px; }
  .default-page .qa-item {
    margin-bottom: 30px; }
  .about-container {
    padding-top: 0; }
    .about-container .col-lg-6:first-child {
      padding-right: 15px; }
    .about-container .col-lg-6:last-child {
      padding-left: 15px; }
    .about-container img {
      margin-bottom: 50px; }
  .partners-row {
    flex-wrap: wrap; }
    .partners-row img {
      max-width: calc(40% - 60px);
      margin-bottom: 40px; } }

@media (max-width: 767px) {
  .default-page .page-content {
    padding-top: 20px; }
  .default-page .h1, .default-page h1 {
    font-size: 24px;
    margin-bottom: 20px; }
  .default-page .qa-box .h3, .default-page .qa-box h3 {
    font-size: 16px; }
  .partners-table,
  .programs-table {
    width: 100%; }
    .partners-table a,
    .programs-table a {
      padding-left: 45px;
      font-size: 14px;
      display: inline-block; }
      .partners-table a:before,
      .programs-table a:before {
        width: 36px;
        height: 36px;
        top: calc(50% - 18px); }
    .partners-table table,
    .programs-table table {
      font-size: 18px; }
      .partners-table table td,
      .programs-table table td {
        padding: 8px 0;
        width: 50%; }
        .partners-table table td + td,
        .programs-table table td + td {
          width: 50%; } }

@media (max-width: 575px) {
  .about-container img {
    margin-bottom: 20px; }
  .partners-row {
    flex-wrap: wrap; }
    .partners-row img {
      max-width: calc(50% - 60px);
      margin-bottom: 40px; }
  .partners-table,
  .programs-table {
    margin-bottom: 50px; }
    .partners-table table,
    .programs-table table {
      display: block;
      font-size: 16px;
      margin-bottom: 20px; }
      .partners-table table tr,
      .programs-table table tr {
        display: block; }
      .partners-table table td,
      .programs-table table td {
        width: 100% !important;
        display: block;
        padding: 12px 0; } }

@media (max-width: 420px) {
  .partners-row img {
    max-width: 80%;
    margin: 0 auto 40px; } }

.cabinet-head {
  padding: 15px 0 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .cabinet-head .h1, .cabinet-head h1 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 0; }
  .cabinet-head .btn-success {
    padding: 3px 20px; }

.cabinet-page .page-content {
  display: flex;
  justify-content: center; }

.cabinet-page .flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.cabinet-page .h1.text-center,
.cabinet-page h1.text-center {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 20px; }

.cabinet-page .table-striped {
  margin-bottom: 0; }
  .cabinet-page .table-striped td {
    vertical-align: middle;
    max-width: 400px;
    padding: 5px; }
    .cabinet-page .table-striped td:last-of-type {
      text-align: center; }
  .cabinet-page .table-striped th {
    vertical-align: middle;
    position: relative;
    min-width: 50px;
    font-size: 14px;
    font-weight: 600; }
  .cabinet-page .table-striped tr th {
    padding: 8px 5px;
    box-shadow: none;
    background-color: #F2F7FD; }
  .cabinet-page .table-striped tr:nth-of-type(odd) td {
    box-shadow: none;
    background-color: #F2F7FD; }
  .cabinet-page .table-striped a {
    text-decoration: none; }
    .cabinet-page .table-striped a:hover {
      text-decoration: underline; }
  .cabinet-page .table-striped p {
    font-size: 12px; }
  .cabinet-page .table-striped .btn-success {
    font-size: 13px;
    padding: 8px 5px;
    white-space: nowrap; }
  .cabinet-page .table-striped .btn-holder .default-text {
    display: block; }
  .cabinet-page .table-striped .btn-holder .active-text {
    display: none; }
  .cabinet-page .table-striped .btn-holder input:checked ~ label .default-text {
    display: none; }
  .cabinet-page .table-striped .btn-holder input:checked ~ label .active-text {
    display: block; }

.cabinet-page .nav-tabs {
  border: 0; }
  .cabinet-page .nav-tabs .nav-link {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid transparent;
    color: #212121;
    padding: 10px 30px;
    font-size: 16px;
    text-transform: uppercase; }
    .cabinet-page .nav-tabs .nav-link.active {
      border-bottom: 2px solid #0d6efd;
      color: #0d6efd; }

.cabinet-page .create-book {
  border: 1px solid #AED3F4;
  padding: 40px 50px 50px;
  max-width: 700px;
  margin: 0 auto 20px; }
  .cabinet-page .create-book .book-cover {
    display: inline-block;
    margin-bottom: 10px;
    position: relative; }
    .cabinet-page .create-book .book-cover img {
      display: block;
      max-width: 80px; }
  .cabinet-page .create-book .remove-cover {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #dc3545 url(../img/icons/close-icon.svg) no-repeat center;
    background-size: 12px;
    cursor: pointer; }
  .cabinet-page .create-book .btn-holder {
    display: flex;
    justify-content: space-between; }
    .cabinet-page .create-book .btn-holder .btn {
      padding: 12px 5px;
      width: 100%; }
    .cabinet-page .create-book .btn-holder .btn + .btn {
      flex: 0 0 49%;
      margin-left: 1%; }

.cabinet-page .short-descr {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden; }

.content-holder {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #dee2e6; }

.red-text {
  font-size: 13px;
  color: #d4192b; }

.swipe-sign {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px; }
  .swipe-sign img {
    display: block;
    width: 24px;
    margin: 0 auto; }

.create-book table td:last-child {
  width: 100px; }

.table-container {
  max-height: 500px;
  overflow-y: auto; }

@media (max-width: 1699px) {
  .cabinet-page .table-striped tr th {
    padding: 5px;
    white-space: normal; }
  .cabinet-page .table-striped td {
    padding: 3px 5px; } }

@media (max-width: 1399px) {
  .cabinet-page .accordion-button {
    font-size: 14px; }
  .cabinet-page .table-striped {
    font-size: 12px; }
    .cabinet-page .table-striped tr th {
      font-weight: 600;
      white-space: normal; }
    .cabinet-page .table-striped td {
      padding: 3px 5px; }
    .cabinet-page .table-striped p {
      font-size: 11px; }
  .cabinet-page .content-holder {
    padding: 5px; } }

@media (max-width: 1199px) {
  .content-holder {
    overflow-x: auto; }
  .swipe-sign {
    display: block; }
  .cabinet-page .table-striped .btn-danger,
  .cabinet-page .table-striped .btn-primary {
    margin: 5px 0; } }

@media (max-width: 991px) {
  .admin-nav {
    margin-right: 20px;
    margin-left: auto; }
  .cabinet-head .h1, .cabinet-head h1 {
    font-size: 22px; }
  .cabinet-page .h1.text-center, .cabinet-page h1.text-center {
    font-size: 22px; } }

@media (max-width: 767px) {
  .cabinet-page .table-striped th {
    font-size: 13px; }
  .cabinet-head .h1, .cabinet-head h1 {
    font-size: 20px; }
  .cabinet-page .h1.text-center, .cabinet-page h1.text-center {
    font-size: 20px; }
  .cabinet-head .btn-success {
    font-size: 13px; }
  .cabinet-page .nav-tabs .nav-link {
    font-size: 14px; }
  .cabinet-page .create-book {
    padding: 20px; } }

@media (max-width: 479px) {
  .cabinet-head .h1, .cabinet-head h1 {
    font-size: 16px; }
  .cabinet-page .h1.text-center, .cabinet-page h1.text-center {
    font-size: 18px; }
  .cabinet-page .nav-tabs .nav-link {
    padding: 10px 15px; }
  .cabinet-page .create-book .btn-holder .btn {
    font-size: 14px; } }

.upload-toast {
  position: fixed;
  bottom: 0;
  right: 30px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  width: 400px;
  transition: 0.8s cubic-bezier(1, -0.25, 0, 1.43);
  transform: translateY(120%);
  opacity: 0; }

.toast-header {
  border-radius: 4px 4px 0 0;
  background-color: #212121;
  padding: 15px 40px 15px 15px;
  color: #fff;
  position: relative;
  font-size: 16px; }

.toast-close {
  cursor: pointer;
  position: absolute;
  right: 15px;
  width: 20px;
  height: 20px;
  background: url(../img/icons/close-icon.svg) no-repeat center;
  background-size: contain;
  transition: 0.25s; }
  .toast-close:hover {
    transform: rotate(180deg); }

.toast-body {
  padding: 0;
  max-height: 400px;
  overflow-y: auto; }

.upload-item {
  padding: 10px 50px 10px 40px;
  border-bottom: 1px solid #d7d7d7;
  position: relative; }
  .upload-item:last-child {
    border-bottom: 0; }
  .upload-item .success-status,
  .upload-item .warning-status {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 8px; }
  .upload-item .success-status {
    background: url(../img/icons/success-icon.svg) no-repeat center;
    background-size: 22px; }
  .upload-item .warning-status {
    background: url(../img/icons/warning-icon.svg) no-repeat center;
    background-size: 20px; }
  .upload-item .item-reload {
    position: absolute;
    right: 5px;
    top: calc(50% - 16px);
    width: 32px;
    height: 32px;
    background: url(../img/icons/refresh-icon.svg) no-repeat center;
    cursor: pointer;
    transform-origin: center;
    transition: 0.25s;
    opacity: 0.7; }
    .upload-item .item-reload:hover {
      opacity: 1; }
  .upload-item .item-name > div {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .upload-item small {
    display: block;
    color: #dc3545;
    font-size: 11px; }

.cancel-upload {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #e6e6e6; }
  .cancel-upload .btn-cancel {
    color: #0d6efd;
    cursor: pointer; }

.main-footer {
  border-top: 1px solid #AED3F4;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  background-color: #fff; }
  .main-footer hr {
    display: block;
    width: 100%; }
  .main-footer p {
    color: #555;
    margin: 0; }
  .main-footer a {
    color: #555;
    text-decoration: none; }
    .main-footer a span {
      color: #5a8ebd; }
    .main-footer a:hover span {
      text-decoration: underline; }
